<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ERM ReST WebService API Documentation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

   <!--  Swagger bootstrap -->
  <!-- servlet>
  	<servlet-name>DRCService</servlet-name>
  		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
  			<init-param>
    			<param-name>com.sun.jersey.config.property.packages</param-name>
    			<param-value>
    			com.fox.it.erm.rest,
    			com.worknik.swagger.jaxrs.json,
    			com.wordnik.swagger.jersey.listing
    			</param-value>
  			</init-param>
  			<init-param>
      <param-name>jersey.config.server.provider.classnames</param-name>
      <param-value>
        com.wordnik.swagger.jersey.listing.ApiListingResourceJSON,
        com.wordnik.swagger.jersey.listing.JerseyApiDeclarationProvider,
        com.wordnik.swagger.jersey.listing.JerseyResourceListingProvider
      </param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.wadl.disableWadl</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
  		<servlet-name>DRCService</servlet-name>
  		<url-pattern>/api/*</url-pattern>
   </servlet-mapping>
   
    
   <servlet>
  <servlet-name>JerseyJaxrsConfig</servlet-name>
  <servlet-class>com.wordnik.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
  <init-param>
    <param-name>api.version</param-name>
    <param-value>1.0.0</param-value>
  </init-param>
  <init-param>
    <param-name>swagger.api.basepath</param-name>
    <param-value>http://localhost:7001/erws/api/</param-value>
  </init-param>
  <load-on-startup>2</load-on-startup>
</servlet-->

 <!-- Swagger bootstrap  -->
 
 	<!-- Spring Web Integration -->
	
	<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>/WEB-INF/applicationcontext.xml</param-value>
  </context-param>
 
  <listener>
    <listener-class>
          org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  
       <servlet>
        <servlet-name>DRCService</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DRCService</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
</web-app>

