<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    default-lazy-init="false"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jms="http://www.springframework.org/schema/jms"
    xsi:schemaLocation="
     http://www.springframework.org/schema/jms
  http://www.springframework.org/schema/jms/spring-jms-2.5.xsd
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
  http://cxf.apache.org/jaxrs
  http://cxf.apache.org/schemas/jaxrs.xsd" >
   
   <context:component-scan base-package="com.fox.it.erws"/>
   <context:annotation-config />
   <context:spring-configured />
 
	
	
   <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"> 
        <property name="dataSource"><ref bean="springDataSource" /></property> 
 	</bean> 
 
	<bean id="dataSource"
         class="org.springframework.jdbc.datasource.DriverManagerDataSource">
                <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
                <property name="url" value="jdbc:oracle:thin:@FFEUSCNUXDB72.foxinc.com:1521:ERMT1" />
                <property name="username" value="erm" />
                <property name="password" value="TiK4eRm_3" />
    </bean>
    
     
	<bean id="springDataSource"
         class="org.springframework.jdbc.datasource.DriverManagerDataSource">
                <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
                <property name="url" value="jdbc:oracle:thin:@FFEUSCNUXDB72.foxinc.com:1521:ERMT1" />
                <property name="username" value="erm" />
                <property name="password" value="TiK4eRm_3" />
        </bean>

     
    <bean id="drcRequestProducer" 
     class="com.fox.it.erws.rest.api.processor.DRCRequestProducer">
    </bean>


    <bean id="drcStoredProcedure"
    class="com.fox.it.erws.rest.api.datasource.DRCStoredProcedure">
    <property name="dataSource" ref="dataSource"/>
	</bean>
	
    
	<bean id="drcDao"
    class="com.fox.it.erws.rest.api.dao.DRCDaoImpl">
	</bean>
	
	<bean id="drcProcBean"
    class="com.fox.it.erws.rest.api.processor.DRCProcBean">
    <property name="drcDao" ref="drcDao"/>
	</bean>

	
	<bean id="entityManager"
	   class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	    <property name="dataSource" ref="springDataSource"/> 
	    <property name="persistenceUnitName" value="erws"/>
    </bean>
</beans>